/* Zera as formatações do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define o fundo e as fontes de todo o site */
body {
    background-color: #100f0f;
    font-family: "Roboto", "PT Sans";
}

/* Formatação do cabeçalho */
header {
    background-color: #333333;
    padding: 20px;
    margin: 20px 50px;
    border-radius: 10px;
    border-bottom: 6px solid #897859;
}

/* Formata o título */
header h1 {
    color: #db3838;
    text-align: center;
    font-size: 45px;
}

/* Formata a barra de navegação */
nav {
    background-color: #333333;
    margin: 20px 50px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Formata os botões da barra de navegação */
.botao-navegacao {
    background-color: #897859;
    border-radius: 6px;
    margin: 10px 50px;
    padding: 10px;
}

/* Formata os links */
.link{
    color: #ffffff;
    text-decoration: none;

}

/* Formata o main: onde está o conteúdo do site */
main {
    background-color: #100f0f;
    color: white;
    margin: 20px 50px;
}

/* Formatação que separa as seções dentro do site */
.separar {
    margin-bottom: 200px;
}

/* Formatação das seções*/
section {
    background-color: #100f0f;
    margin: 30px 0;
}

/* Formatação dos subtítulos */
.subtitulo {
    color: #db3838;
}

/* Aplicação do Float para as imagens esquerda*/
.float-left img {
    float: left;
    margin-right: 15px;
    border-radius: 6px;
    border: 2px solid #897859;
}

/* Aplicação do Float para as imagens direita*/
.float-right img {
    float: right;
    margin-left: 15px;
    border-radius: 6px;
    border: 2px solid #897859;
}

/* Formatação que limpa o Float */
.clear {
    clear: both;
}

/* Formatação do rodapé do site */
footer {
    background-color: #333333;
    text-align: center;
    color: #db3838;
    margin: 20px 50px;
    border-radius: 10px;
}